---
const { method } = Astro.props;
---

<api-path method={method} class="not-content">
  <p class="badge">{method}</p>
  <slot />
</api-path>

<style>
  api-path {
    color: var(--sl-color-white);
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
  }

  api-path :global(p:last-of-type) {
    font-size: var(--sl-text-2xl);
    line-height: var(--sl-line-height-headings);
    margin-bottom: auto;
  }

  .badge {
    color: var(--sl-color-gray-1);
    max-width: fit-content;
    border-radius: 0.25rem;
    border: 1px solid;
    padding: 0 1rem;
  }

  [method="GET"] .badge {
    background-color: var(--sl-badge-note-bg);
    border-color: var(--sl-badge-note-border);
    color: var(--sl-badge-note-text);
  }

  [method="POST"] .badge {
    background-color: var(--sl-badge-success-bg);
    border-color: var(--sl-badge-success-border);
    color: var(--sl-badge-success-text);
  }

  [method="DELETE"] .badge {
    background-color: var(--sl-badge-danger-bg);
    border-color: var(--sl-badge-danger-border);
    color: var(--sl-badge-danger-text);
  }
</style>

<script>
  class ApiPath extends HTMLElement {
    constructor() {
      super();
    }
  }

  customElements.define("api-path", ApiPath);
</script>
