---

---

<span>required</span>

<style>
  span {
    background: var(--sl-color-red);
    color: var(--sl-color-black);
    font-size: var(--sl-text-xs);
    font-weight: initial;
    display: inline-block;
    border-radius: 0.25rem;
    padding: 0.1rem 0.3rem;
    line-height: 1.5;
    min-width: fit-content;
    margin-left: 0.5rem;
    margin-right: -0.5rem;
  }
</style>
