img {
  border-radius: 0.5rem;
}

aside {
  border-radius: 0 0.5rem 0.5rem 0;
}

code {
  border-radius: 0.25rem;
}

.card {
  border-radius: 0.5rem;
}

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #430922;
  --sl-color-accent: #c00065;
  --sl-color-accent-high: #fab0c6;
}

/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #fec5d5;
  --sl-color-accent: #c30067;
  --sl-color-accent-high: #600030;
}
