:root {
  --sl-color-accent-low: #430922;
  --sl-color-accent: #c00065;
  --sl-color-accent-high: #fab0c6;
}

:root[data-theme="light"] {
  --sl-color-accent-low: #fec5d5;
  --sl-color-accent: #c30067;
  --sl-color-accent-high: #600030;
}

aside {
  border-radius: 0 0.5rem 0.5rem 0;
}

pre,
img,
code,
.card {
  border-radius: 0.5rem !important;
}

figure:has(figcaption span) pre {
  border-radius: 0 0 0.5rem 0.5rem !important;
}

a.button {
  background: var(--sl-color-text-accent) !important;
  color: var(--sl-color-black) !important;
  font-size: var(--sl-text-base);
  padding: 1rem 1.25rem;
  gap: 0.5em;
  align-items: center;
  border-radius: 999rem;
  line-height: 1.1875;
  text-decoration: none;
  display: inline-flex;
  margin-top: 1rem;
  display: flex;
  width: fit-content;
}

.api-badge {
  min-width: fit-content;
  height: fit-content;
}

.api-title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
