img {
  border-radius: 0.5rem;
}

aside {
  border-radius: 0 0.5rem 0.5rem 0;
}

code {
  border-radius: 0.25rem;
}

.card,
pre {
  border-radius: 0.5rem !important;
}

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #430922;
  --sl-color-accent: #c00065;
  --sl-color-accent-high: #fab0c6;
}

/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #fec5d5;
  --sl-color-accent: #c30067;
  --sl-color-accent-high: #600030;
}

.button {
  background: var(--sl-color-text-accent) !important;
  color: var(--sl-color-black) !important;
  font-size: var(--sl-text-base);
  padding: 1rem 1.25rem;
  gap: 0.5em;
  align-items: center;
  border-radius: 999rem;
  line-height: 1.1875;
  text-decoration: none;
  display: inline-flex;
  margin-top: 1rem;
}

.api-badge {
  min-width: fit-content;
  height: fit-content;
}

.api-title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.api-title span:first-of-type {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.api-route {
  margin-bottom: 1.5rem;
}

.api-route-text {
  font-size: var(--sl-text-h4);
  line-height: var(--sl-line-height-headings);
  font-weight: 600;
  color: var(--sl-color-gray-1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 0.75rem;
}

.api-route-badge {
  max-width: fit-content;
  height: fit-content;
  font-size: var(--sl-text-h6);
  line-height: var(--sl-line-height-headings);
  font-weight: 600;
  border-radius: 0.5rem;
  border: 1px solid;
  padding: 0.35rem 0.5rem;
  color: var(--sl-color-gray-1);
}

.GET {
  background-color: var(--sl-badge-note-bg);
  border-color: var(--sl-badge-note-border);
  color: var(--sl-badge-note-text);
}

.POST {
  background-color: var(--sl-badge-success-bg);
  border-color: var(--sl-badge-success-border);
  color: var(--sl-badge-success-text);
}

.DELETE {
  background-color: var(--sl-badge-danger-bg);
  border-color: var(--sl-badge-danger-border);
  color: var(--sl-badge-danger-text);
}

sl-tab,
sl-radio-button,
sl-split-panel > div {
  margin-top: 0rem !important;
}

sl-tree-item {
  margin-top: 0rem !important;
}

sl-tree-item > div > div {
  margin-top: 0rem !important;
}

.tree-with-lines {
  --indent-guide-width: 1px;
}

.tree-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
